@use "../../styles/partials/colors" as *;

@keyframes zoom-in-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.02, 1.02);
  }
  100% {
    transform: scale(1, 1);
  }
}

.image-container {
  width: 100%;
  height: 30rem;
  background-image: url("../../assets/images/day1.jpg");
  background-size: cover;
  background-position: center;
  animation: zoom-in-out 5s;
  animation-iteration-count: 1;
}

.line-chart-container {
  background-color: $primary-background-color;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.back-icons {
  width: 2rem;
  height: 2rem;
  color: white;
  margin: 1rem;
}

.finish-button {
  background-color: $primary-cta-color;
  color: $primary-font-color;
  text-transform: uppercase;
  padding: 0.5rem;
  width: 6.5rem;
  font-size: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 15rem;
}
