// Font colors
$primary-font-color: #ffffff;
$secondary-font-color: #d1cdca;

// Background colors
$primary-background-color: #0e1114;
$card-background-color: #25292d;

// CTA colors
$primary-cta-color: #e14328;
$secondary-cta-color: #5491d8;
