/*
Font size and line heights
*/

// Mobile font styling

$page-header-font-size: 1.5rem;
$page-header-line-height: 2rem;

$section-header-font-size: 0.875rem;
$section-header-line-height: 1.25rem;

$sub-header-font-size: 0.8125rem;
$sub-header-line-height: 1.125rem;

$body-font-size: 0.8125rem;
$body-line-height: 1.125rem;

$button-font-size: 0.75rem;
$button-line-height: 1.25rem;

// Section padding
$section-padding: 1rem;

// Vertical padding
$vertical-padding: 1rem;
