@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

body {
  // padding: $section-padding $vertical-padding;
  background-color: $primary-background-color;
}

.link {
  text-decoration: none;
  :hover {
    transform: scale(1.025);
    transition: 1s;
  }
}
.home-header {
  display: flex;
  justify-content: center;
  width: 100%;

  &__container {
    display: flex;
    justify-content: center;
    background-color: #353c42;
    margin-top: 2rem;
    padding: 0.5rem;
    width: 12rem;

    border-radius: 0.75rem;
  }

  &__item {
    color: #d1cdca;
    margin: 0rem 0.5rem;
    text-transform: uppercase;

    &:hover {
      color: #ffffff;
      text-decoration: underline;
    }
  }
}

.suggested-challenges {
  padding: 0rem 1.5rem;
  margin-top: 2rem;
}

.challenges-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-image: url("../../assets/images/ab-challenge.jpg");
  background-position: center;
  background-size: cover;
  height: 10rem;
  border-radius: 0.5rem;
  background-repeat: no-repeat;

  &--popular {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-image: url("../../assets/images/mindfullness-challenge.jpg");
    background-position: center;
    background-size: cover;
    height: 10rem;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
  }

  &__text {
    color: #ffffff;
    margin-left: 1rem;
    text-transform: uppercase;

    &--difficulty {
      text-transform: uppercase;
      margin-left: 1rem;
      color: #ffffff;
      background-color: #d0423c;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      font-size: 0.75rem;
    }

    &--duration {
      color: #ffffff;
      margin-left: 0.5rem;
    }
  }

  &__label {
    color: #ffffff;
    text-transform: uppercase;
  }

  &__block {
    display: flex;
    margin-left: 1rem;
    align-items: center;
  }
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 1.5rem;
  margin-bottom: 2rem;
  &__label {
    color: #ffffff;
    text-transform: uppercase;

    padding-left: 0.25rem;
    margin-top: 2rem;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
  }

  &__block {
    &--1 {
      display: flex;
      //   flex-direction: ;
      //   flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      background-color: #d0423c;
      width: 10rem;
      background-image: url("../../assets/images/abs-categories.jpg");
      background-position: center;
      background-size: cover;
      height: 10rem;
      margin: 0.5rem;
      border-radius: 0.5rem;
    }

    &--2 {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      background-color: #d0423c;
      width: 10rem;
      background-image: url("../../assets/images/back-categories.jpg");
      background-position: center;
      background-size: cover;
      height: 10rem;
      margin: 0.5rem;
      border-radius: 0.5rem;
    }

    &--3 {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      background-color: #d0423c;
      width: 10rem;
      background-image: url("../../assets/images/yoga-categories.jpg");
      background-position: center;
      background-size: cover;
      height: 10rem;
      margin: 0.5rem;
      border-radius: 0.5rem;
    }

    &--4 {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      background-color: #d0423c;
      width: 10rem;
      background-image: url("../../assets/images/legs-categories.jpg");
      background-position: center;
      background-size: cover;
      height: 10rem;
      margin: 0.5rem;
      border-radius: 0.5rem;
    }
  }

  &__category {
    color: #ffffff;
    margin: 0.5rem;
  }
}
