@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.day-card {
  width: 100%;
  height: 5.5rem;
  background-color: $card-background-color;
  padding: $section-padding $vertical-padding;
  margin-bottom: 1rem;
  display: flex;

  &__image-container {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
  }
  &__image {
    width: 100%;
    border-radius: 50%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
  }
}
