@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.day-card {
  width: 100%;
  height: 5.5rem;
  background-color: $card-background-color;
  padding: $section-padding $vertical-padding;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;

  &__image-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
  }
  &__image {
    width: 100%;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }

  &__container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
  }

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
  }

  &__arrow {
    width: 2rem;
  }
}
