@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.challenge-container {
  // padding: $section-padding $vertical-padding;
  background-color: $primary-background-color;
}

.challenge-video {
  width: 100%;
  margin: 0;
  position: relative;
}

.challenge-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1rem;
  position: absolute;
  top: 170px;

  &__image {
    width: 70px;
    height: 70px;
    background-image: url("../../styles/assets/image/video-placeholder.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  &__title {
    width: 50%;
    text-transform: uppercase;
    padding: 0;
    line-height: 1.8rem;
    font-size: $page-header-font-size;
    margin: 0;
  }

  &__level {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background-color: $primary-cta-color;
    font-size: 12px;
    line-height: 0;
    height: 30px;
    margin-top: 1.5rem;
    padding: 0 0.5rem;
    align-items: flex-end;
  }
}

.challenge-details {
  background-color: $primary-background-color;
  padding: $section-padding $vertical-padding;

  &__about {
    display: flex;
    &-title {
      margin-right: 2rem;
      padding: 1.5rem 0 1rem;
    }
  }

  &__focus {
    display: flex;
    &-title {
      margin: 0;
      padding: 1rem 0;
    }
    &-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
